canvas{
	background-color: #000;
	padding: 0;
	margin: auto;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#gameOver{
	width: 720px;
	height: 480px;
	background-color: #000;
	padding: 0;
	margin: auto;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	text-align: center;
	border: 2px solid #00ef07;
}
.menu{
	top: 50%;
}
.menu >p{
	font-size: 48pt;
	font-weight: bold;
}
.menuItem:hover{
	cursor: pointer;
	color: #00ef07;
}
body{
	background-color: #ccc;
}