canvas {
    background-color: #000;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#gameOver,
#startMenu,
#controls,
#scoresList,
#scoresLog {
    width: 720px;
    height: 480px;
    background-color: #000;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    border: 2px solid #00ef07;
}

.menu {
    top: 50%;
}

li {
    padding-left: 0;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 20px;
}

.button {
    background-color: #00ef07;
    border: none;
    color: white;
    padding: 15px 32px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}

.button:hover {
    opacity: .75;
}

.menu>p {
    font-size: 48pt;
    font-weight: bold;
}

.menuItem:hover {
    cursor: pointer;
    color: #00ef07;
}

h3 {
    font-size: 24pt;
}

body {
    background: #485563;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
    width: 75px;
    padding: 12px 20px;
    border: 2px solid #00ef07;
    border-radius: 2px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

#titleScores {
    font-size: 20pt !important;
}

#topScores>p {
    font-size: 16px;
    margin-bottom: 7px;
}

#title {
    animation: fadein 4s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}